/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tinker.php
.idea
/public/js/app.js
/public/css/app.css
composer.lock
package-lock.json
