name: heroku

on:
  push:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  daybreak-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_TOKEN}}
          heroku_app_name:  ${{secrets.HEROKU_APP_NAME}}
          heroku_email:  ${{secrets.HEROKU_EMAIL}}
      - run: heroku run php /app/artisan migrate:fresh --seed
